* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	background-color: #F8F8FF !important;
}
li {
	list-style: none;
}

#chat1 .form-outline ~ .form-notch div {
	pointer-events: none;
	border: 1px solid;
	border-color: #eee;
	box-sizing: border-box;
	background: transparent;
}

#chat1 .form-outline ~ .form-notch .form-notch-leading {
	left: 0;
	top: 0;
	height: 100%;
	border-right: none;
	border-radius: 0.65rem 0 0 0.65rem;
}

#chat1 .form-outline ~ .form-notch .form-notch-middle {
	flex: 0 0 auto;
	max-width: calc(100% - 1rem);
	height: 100%;
	border-right: none;
	border-left: none;
}

#chat1 .form-outline ~ .form-notch .form-notch-trailing {
	flex-grow: 1;
	height: 100%;
	border-left: none;
	border-radius: 0 0.65rem 0.65rem 0;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-leading {
	border-top: 0.125rem solid #39c0ed;
	border-bottom: 0.125rem solid #39c0ed;
	border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-leading,
#chat1 .form-outline.active ~ .form-notch .form-notch-leading {
	border-right: none;
	transition: all 0.2s linear;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-middle {
	border-bottom: 0.125rem solid;
	border-color: #39c0ed;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-middle,
#chat1 .form-outline.active ~ .form-notch .form-notch-middle {
	border-top: none;
	border-right: none;
	border-left: none;
	transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
	border-top: 0.125rem solid #39c0ed;
	border-bottom: 0.125rem solid #39c0ed;
	border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-trailing {
	border-left: none;
	transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-label {
	color: #39c0ed;
}

#chat1 .form-outline .form-control ~ .form-label {
	color: #bfbfbf;
}

.card {
	--mdb-card-height: 80vh;
	height: 80vh;
	
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@keyframes wiggle {
	0%,
	7% {
		transform: rotateZ(0);
	}
	15% {
		transform: rotateZ(-15deg);
	}
	20% {
		transform: rotateZ(10deg);
	}
	25% {
		transform: rotateZ(-10deg);
	}
	30% {
		transform: rotateZ(6deg);
	}
	35% {
		transform: rotateZ(-4deg);
	}
	40%,
	100% {
		transform: rotateZ(0);
	}
}
.landing {
	height: 100vh;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
}

.selected {
	transform: scale(1.2);

	border-radius: 25px;

	z-index: -1;
	width: 120%;
	height: 120%;
	box-shadow: 0 0;
	background-color: rgba(155, 231, 142, 0.384);
}
fieldset{
	background-color: rgb(246, 246, 246);
	border-radius: 20px;
	margin-bottom: 1rem;
	padding: 1rem;
	/* drop shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
legend{
	font-size: 1.2rem;
	
}
/* Handle responsive SM para pantallas menores a 350 px de ancho */
@media (max-width: 350px) {
	
	#main-container {
		width: 100vw;
		right: 0 !important;
		height: 100vh;
		top:4rem;
	}
	.card {
		right: 0;
	}
	#main-button{
		top:0;
	}
	#main-button img{
		width: 4rem !important;
		height: 4rem !important;

	}
	#close{
		display: flex !important;
	}
	#titleImg{
		display: none;
	}
}
